.search-nav-bar {
  display: flex; 
  justify-content: space-between; 
  align-items: flex-start;
}

.search-logout-button {
  transition: .75s ease;
  margin-right: 10px;
  font-weight: 550; 
  border: .5px solid #896044; 
  padding: 10px 10px; 
  font-weight: 600; 
  font-size: 13px; 
  border-radius: 5px; 
  margin-right: 40px; 
}

.search-logout-button:hover {
  transition: .75s ease;
  background-color: #896044;
}

.search-nav {
  background: #6f4e37;
  margin-bottom: 10px; 
}

.search-nav-header {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background: #6f4e37; 
  height: 90px; 
}

.nav-bar-search {
  margin-top: 14px; 
}

.nav-search-links {
  display: flex; 
  justify-content: flex-end;
  font-family: sans-serif;  
  color: white; 
  font-size: 15.5px; 
  justify-self: flex-end;
  padding-top: 30px; 
}

.logout-search-div {
  margin-top: -8px; 
}

.search-login-link {
  transition: .75s ease;
  margin-right: 10px;
  font-weight: 550; 
  border: .5px solid #896044; 
  padding: 10px 10px; 
  font-weight: 600; 
  font-size: 13px; 
  border-radius: 5px; 
}

.search-signup-link {
  transition: .75s ease;
  margin-right: 40px;
  font-weight: 600; 
  font-size: 13px; 
  background: white; 
  color: black; 
  padding: 10px 10px; 
  border-radius: 5px; 
}

.search-login-link:hover {
  transition: .75s ease;
  background-color: #896044;
}

.title-div {
  margin-top: 40px; 
  padding-left: 80px; 
  height: 24px; 
}
.search-page-title {
  font-size: 24px;
  font-family: sans-serif; 
  padding-bottom: 40px; 
}
.search-business-list {
  padding-top: 30px; 
  width: 600px; 
  margin-right: 40px; 
}

.business-search-info {
  display: flex;
  flex-direction: column; 
}

.business-info {
  margin-top: 4px;
  padding-left: 14px; 
  font-family: sans-serif; 
  font-size: 12px; 
}

.search-business {
  display: flex; 
  height: 250px; 
  width: 600px; 
  margin-left: 80px; 
  border-bottom: 1px solid lightgray; 
}

.search-page-subtitle {
  margin-left: 80px; 
  padding: 20px 40px 0px 0px;  
  font-size: 14px; 
  font-weight: bold; 
  font-family: sans-serif; 
}

.index-contents {
  display: flex;
  justify-content: space-between; 
}

.business-search-image {
  width: 280px; 
  height: 225px;
}

.map-div {
  margin: 100px 90px; 
}
