.search-nav-bar {
  display: flex; 
  justify-content: space-between; 
  align-items: flex-start;
}

.search-logout-button {
  transition: .75s ease;
  margin-right: 10px;
  font-weight: 550; 
  border: .5px solid #896044; 
  padding: 10px 10px; 
  font-weight: 600; 
  font-size: 13px; 
  border-radius: 5px; 
  margin-right: 40px; 
}

.avg-rate-search {
  width: 270px;
  margin: 5px 0px 8px 0px; 
}

.search-logout-button:hover {
  transition: .75s ease;
  background-color: #896044;
}

.search-nav {
  background: #6f4e37;
  margin-bottom: 10px; 
}

.business-description-div {
  display: flex; 
  width: 420; 
  justify-content: space-between;
}

.search-business-name {
  color: #0073bb;
  font-family: sans-serif;
  font-weight: bold; 
  font-size: 17px; 
}

.search-business-name:hover {
  transition: .75s ease;
  text-decoration: underline; 
}

.search-nav-header {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background: #6f4e37; 
  height: 90px; 
}

.nav-bar-search {
  margin-top: 14px; 
}

.nav-search-links {
  display: flex; 
  justify-content: flex-end;
  font-family: sans-serif;  
  color: white; 
  font-size: 15.5px; 
  justify-self: flex-end;
  padding-top: 30px; 
}

.logout-search-div {
  margin-top: -8px; 
}

.search-login-link {
  transition: .75s ease;
  margin-right: 10px;
  font-weight: 550; 
  border: .5px solid #896044; 
  padding: 10px 10px; 
  font-weight: 600; 
  font-size: 13px; 
  border-radius: 5px; 
}

.search-signup-link {
  transition: .75s ease;
  margin-right: 40px;
  font-weight: 600; 
  font-size: 13px; 
  background: white; 
  color: black; 
  padding: 10px 10px; 
  border-radius: 5px; 
}

.has-review-count {
  padding: 14px 0px 0px 160px;  
  font-family: sans-serif;
  font-size: 14px;
  color: gray; 
}

.search-login-link:hover {
  transition: .75s ease;
  background-color: #896044;
}

.title-div {
  margin-top: 40px; 
  padding-left: 80px; 
  height: 24px; 
}
.search-page-title {
  font-size: 24px;
  font-family: sans-serif; 
  padding-bottom: 40px; 
}
.search-business-list {
  padding-top: 30px; 
  width: 700px; 
  margin-right: 0px 40px 0px 40px; 
}

.business-search-info {
  width: 270px;
  padding-top: 10px; 
  margin-left: 16px;  
  display: flex;
  flex-direction: column; 
}

.business-search-address {
  display: flex; 
  flex-direction: column; 
  margin-top: 6px; 
  line-height: 20px; 
  font: sans-serif; 
  font-size: 15px; 
  width: 150px; 
  text-align: right; 
}

.business-info {
  margin-top: 4px;
  padding-left: 14px; 
  font-family: sans-serif; 
  font-size: 12px; 
}

.no-review-count {
  margin: 2px 0px 6px 0px; 
  font-family: sans-serif;
  font-size: 14px;
  color: gray; 
}

.wifi {
  color: blue; 
  display: flex; 
  font-size: 14px; 
}

.wifi-description {
  color: black; 
  margin-left: 10px; 
  font-family: sans-serif; 
}

.shop-price {
  font-size: 14px; 
  margin: 6px 0px; 
  font-family: sans-serif; 
}

.search-business {
  display: flex; 
  height: 250px; 
  width: 700px; 
  margin: 30px 0px 30px 80px; 
  border-bottom: 1px solid lightgray; 
}

.search-page-subtitle {
  margin-left: 80px; 
  padding: 20px 40px 0px 0px;  
  font-size: 14px; 
  font-weight: bold; 
  font-family: sans-serif; 
}

.index-contents {
  display: flex;
  justify-content: space-between; 
}

.business-search-image {
  width: 230px; 
  height: 210px;
  border-radius: 5px; 
}

.map-div {
  margin: 100px 90px; 
}
