.main-page {
  background-image: url("/stylesheets/images/latte.jpg");; 
  background-repeat: no-repeat;
  background-position: left center;
  display: flex; 
  flex-direction: column;
  justify-content: space-between;  
  height: 600px; 
  margin-top: 0px; 
  background-size: cover; 
}

.search-bar {
  display: flex;
  justify-content: center; 
}

.business-index {
  width: 90%;
  margin: 0 auto;  
}

.index-title-main {
  text-align: center; 
  margin-top: 30px; 
  font-family: sans-serif; 
  color: red; 
  font-size: 22px;
  font-weight: bold; 
  padding-bottom: 30px;  
  border-bottom: 1px solid lightgray; 
}

.index-description-main {
  text-align: center; 
  margin-top: 30px; 
  font-family: sans-serif; 
  color: red; 
  font-size: 16px;
  font-weight: bold; 
  padding-bottom: 10px;  
} 

.search-bar-how {
  font-family: sans-serif;
  font-size: 15px; 
  padding-top: 13px; 
  background: white; 
  color: #666; 
  font-weight: bold; 
  width: 140px; 
  height: 44px; 
  padding-left: 14px; 
  border-top-left-radius: 3px; 
  border-bottom-left-radius: 3px; 
  vertical-align: middle; 
}

.search-input {
  background: white; 
  width: 280px; 
  height: 44px; 
  padding: 0px 30px 0px 10px;
  color: black; 
  margin-bottom: 12px;
  box-sizing: border-box;
}

.search-bar-submit {
  color: white; 
  background: red; 
  border-top-right-radius: 3px; 
  border-bottom-right-radius: 3px;  
  width: 55px; 
  height: 44px;
  margin-left: -1px; 
  text-align: center; 
}

/* .main-page-title {   
  width: 120px; 
  height: auto; 
} */

.footer-main-page {
  color: white; 
  text-align: right; 
  font-family: sans-serif; 
  margin-right: 20px; 
  margin-bottom: 10px; 
}

.footer-main-page > a {
  padding-right: 12px; 
  font-size: 12px; 
}

.main-page-business-list {
  display: flex;
  flex-wrap: nowrap;  
  justify-content: space-between;
  padding-top: 30px; 
  margin-bottom: 100px; 
}

.main-business {
  width: 300px;
  min-width: 300px;  
  height: 310px; 
  margin-right: 55px; 
  border: .5px solid lightgray; 
  border-radius: 3px; 
}

.main-business:last-child {
  margin-right: 0px; 
}

.avg-rate-main {
  margin: 8px 0px 8px 8px;
}

.main-business-name {
  color: #0073bb;
  font-family: sans-serif;
  font-weight: bold; 
  font-size: 18px;
  margin: 8px 0px 8px 8px; 
  
}

.has-review-count-main {
  padding: 14px 0px 0px 157px;  
  font-family: sans-serif;
  font-size: 14px;
  color: gray; 
}

.no-review-count-main {
  padding: 8px 0px 0px 8px;  
  font-family: sans-serif;
  font-size: 14px;
  color: gray; 
}

.main-page-shop-img {
  object-fit: cover;
  object-position: bottom;
  height: 180px;
  width: 298px; 
  margin-bottom: 8px; 
}