.review-form{
  width: 70%;
  margin: 0 auto;
  font-size: large;
}

.form-wrapper {
  list-style-type: none;
  padding: 0;
  border-radius: 3px;
}
.form-row {
  display: flex;
  justify-content: flex-start;
  padding: .5em;
}
.form-row > label {
  padding: .5em 1em .5em 0;
  flex: 1;
}
.form-row > input {
  flex: 2;
}
.form-row > input,
.form-row > button {
  padding: .5em;
}
.form-header{
  padding-left: 0.5em;
  font-size: 21px;
}

.inputs-wrapper{
  border: 1px solid gray;
  width: 100%;
  border-radius:5px;
  padding:0.5em;
}

.comment-style{
  resize: none;
  width: 100%;
  margin-bottom:0px;
  border: none;
}

.form-title-2{
  padding-left: 0.5em;
  font-size: 16px;
}

.subtitle{
  padding-left: 0.5em;
  font-size: 16px;
  font-weight: lighter;
  font-style: italic;
}